/* ===== MEMBROS ===== */

#membros {
  padding: 60px 40px;
  text-align: center;
}

#membros h2 {
  color: var(--amarelo);
  font-size: 2.5em;
  margin-bottom: 40px;
}

/* Container */
.membros-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

/* Card */
.membro-card {
  width: 280px;
  background: #111;
  border: 2px solid var(--amarelo);
  border-radius: 22px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 12px rgba(245,196,0,0.4);
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(40px);
  animation: aparecer 1s ease forwards;
}

/* Animação em sequência */
.membro-card:nth-child(1) { animation-delay: 0.2s; }
.membro-card:nth-child(2) { animation-delay: 0.4s; }
.membro-card:nth-child(3) { animation-delay: 0.6s; }
.membro-card:nth-child(4) { animation-delay: 0.8s; }
.membro-card:nth-child(5) { animation-delay: 1.0s; }
.membro-card:nth-child(6) { animation-delay: 1.2s; }

/* Hover */
.membro-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(245,196,0,0.9);
}

/* Foto */
.membro-card img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--amarelo);
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(245,196,0,0.5);
  animation: fotoZoom 0.8s ease forwards;
}

/* Nome */
.membro-card h3 {
  color: var(--amarelo);
  font-size: 22px;
  margin-bottom: 5px;
}

/* Função */
.membro-card .funcao {
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

/* Bio */
.membro-card .bio {
  color: #ccc;
  font-size: 14px;
  line-height: 1.4;
}

/* Animação principal */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação da foto */
@keyframes fotoZoom {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


/* ===== ÍCONES FLUTUANTES ===== */

.social-floating {
  position: fixed;
  right: 20px;      /* lateral direita */
  bottom: 40px;     /* parte de baixo da tela */
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
}

.social-floating img {
  width: 50px;
  height: 50px;
  filter: grayscale(100%) sepia(100%) saturate(500%) hue-rotate(10deg) brightness(1.2);
  transition: 0.3s ease;
}

.social-floating img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) sepia(100%) saturate(1000%) hue-rotate(10deg) brightness(1.3);
}
